@font-face {
  font-family: IRANSans;
  src: url('../fonts/ttf/IRANSansWeb\(FaNum\)_Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: IRANSans;
  src: url('../fonts/ttf/IRANSansWeb\(FaNum\)_Light.ttf');
  font-weight: lighter;
}
@font-face {
  font-family: IRANSans;
  src: url('../fonts/ttf/IRANSansWeb\(FaNum\)_Medium.ttf');
  font-weight: normal;
}
@font-face {
  font-family: IRANSans;
  src: url('../fonts/ttf/IRANSansWeb\(FaNum\).ttf');
}
