
@import url('./fontiran.scss');

[dir='rtl'] * {
  font-family: IRANSans !important;
}

[dir='rtl'] .header-navbar .navbar-container ul.navbar-nav li.dropdown-notification .dropdown-menu.dropdown-menu-end {
  left: inherit !important;
  right: -385px !important;
}
[dir='ltr'] .header-navbar .navbar-container ul.navbar-nav li.dropdown-notification .dropdown-menu.dropdown-menu-end {
  left: -385px !important;
  right: inherit !important;
}
